@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"); */

@theme {
  --color-accent: #f3481a;
  --color-navi: #081322;

  /* --font-poppins: "Poppins", sans-serif; */
}
